<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>DVD返却</title>
<link rel="stylesheet" th:href="@{/css/dvd.css}">
</head>
<body>
	<div class="container">
		<div class="title">DVD返却</div>
		<p class="message" th:text="${message}"></p>
		<form th:action="@{/dvds/return/{id}(id=${user.id})}" method="post" class="dvd-form">
			<div class="table-scroll">
				<table class="dvd-table">
					<thead>
						<tr>
							<th>返却チェック</th>
							<th>DVDタイトル</th>
							<th>ジャンル</th>
							<th>レンタル日数</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="dvd : ${dvdList}">
							<td><input type="checkbox" name="dvdIds" th:value="${dvd.id}"></td>
							<td th:text="${dvd.dvdName}"></td>
							<td th:text="${dvd.genre}"></td>
							<td th:text="${dvd.rentalDays}"></td>
						</tr>
					</tbody>
				</table>
			</div>


			<div class="button-area">
				<button type="submit" class="rental-button">返却する</button>
				<a th:href="@{/}" class="back-button">戻る</a>
			</div>
			
		</form>
	</div>

</body>
</html>