<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/user.css}">
</head>
<body>
	<div class="container">
		<div class="title">ユーザー登録</div>
		<p class="message" th:text="${message}"></p>
		<form th:action="@{/users/create}" method="post" class="user-form">
			<label for="No">No</label>
			<input type="text" id="No" name="No" value="2" readonly>
			
			<label for="name">氏名</label>
			<input type="text" id="name" name="name">
			
			<label for="authority">権限</label>
			<select id="authority" name="authority">
				<option value="user">ユーザー</option>
				<option value="admin">管理者</option>
			</select>
			
		</form>
		
		<div class="button-area">
			<button type="submit" class="register-button">登録する</button>
			<a th:href="@{/}" class="back-button">戻る</a>
		</div>
		
	</div>
</body>
</html>