<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー削除</title>
<link rel="stylesheet" th:href="@{/css/user.css}">
</head>
<body>
	<div class="container">
		<div class="title">ユーザー削除</div>
		<p class="message" th:text="${message}"></p>
		<form th:action="@{/users/delete}" method="post" class="user-form">

			<div class="form-area">
				<div class="form-row">
					<label for="No" class="form-label">No</label>
					<input type="text" id="No" class="form-control" value="auto">
				</div>
				 
				<div class="form-row">
					<label for="name" class="form-label">氏名</label>
					<input type="text" id="name" name="name" class="form-control">
				</div>
				
				<div class="form-row">
					<label for="pass" class="form-label">パスワード</label>
					<input type="password" id="pass" name="pass" class="form-control">
				</div>
				
				<div class="form-row">
					<label for="authority" class="form-label">権限</label>
					<select id="authority" name="authority" class="form-control">
						<option value="USER">ユーザー</option>
						<option value="ADMIN">管理者</option>
					</select>
				</div>

				<div class="button-area">
					<button type="submit" class="create-button">削除する</button>
					<a th:href="@{/}" class="back-button">戻る</a>
				</div>
			</div>
			
		</form>
	</div>
</body>
</html>