<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>メニュー</title>
<link rel="stylesheet" th:href="@{/css/menu.css}">
</head>
<body>
	<div class="container">

		<div class="header">

			<div class="title">メニュー</div>

			<div class="username">
				ユーザー名: <span sec:authentication="name"></span>
			</div>

		</div>

		<div class="menu-area">

			<form th:action="@{/dvds/rental/{id}(id=${user.id})}" method="get" class="menu-form">
				<button type="submit" class="menu-button">DVDレンタル</button>
			</form>

			<form th:action="@{/dvds/return/{id}(id=${user.id})}" method="get" class="menu-form">
				<button type="submit" class="menu-button">DVD返却</button>
			</form>
			
			
			<form th:action="@{/users/create}" method="get" class="menu-form"
			sec:authorize="hasAuthority('ADMIN')">
				<button type="submit" class="menu-button">ユーザー登録</button>
			</form>

			<form th:action="@{/users/delete}" method="get" class="menu-form"
			sec:authorize="hasAuthority('ADMIN')">
				<button type="submit" class="menu-button">ユーザー削除</button>
			</form>
		</div>
		
		<div class="logout-area">
			<form th:action="@{/logout}" method="post" class="logout-form">
				<button type="submit" class="logout-button">ログアウト</button>
			</form>
		</div>

	</div>

</body>
</html>